.bt{
    width: 50px;
    height: 50px;
    margin-top: 10px;
    margin-right : 5px;
    margin-left : 5px;
    padding:0px;
}



#display{
    width: 260px;
    margin-left: 0px;
    border : 0px;
    color: white;
    background: black;  
    height: 20px;
    text-align: right;  
}

.container{
    background-image: linear-gradient(green,white);
    width: 260px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 500px;
    margin-top: 20px;
}   

#btnequal{
    width : 240px;
}